.lines {
  width: 1300px;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -10;
}
.lines .vertical-line {
  display: inline-block;
  height: 8000px;
  max-width: 1px;
  border-left: 1px solid rgb(55, 184, 166);
  white-space: nowrap;
}