.first-section {
  width: 100%;
  height: 1080px;
}
.first-section .upper-sqrt {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.first-section .upper-sqrt .sqrt1 {
  position: relative;
  background-color: rgb(160, 228, 255);
  width: 380px;
  height: 230px;
  top: 20px;
  rotate: -30deg;
  opacity: 0;
  animation: sqrt1 1s ease-out forwards;
}
.first-section .upper-sqrt .sqrt2 {
  position: relative;
  background-color: rgb(207, 191, 162);
  width: 330px;
  height: 250px;
  right: 30px;
  top: 0px;
  rotate: 35deg;
  opacity: 0;
  animation: sqrt2 0.8s 0.1s ease-out forwards;
}
@keyframes sqrt1 {
  from {
    opacity: 0;
    top: 30px;
    rotate: -20deg;
  }
  to {
    opacity: 1;
    top: 80px;
    rotate: -10deg;
  }
}
@keyframes sqrt2 {
  from {
    opacity: 0;
    right: 30px;
    top: 0px;
    rotate: 35deg;
  }
  to {
    opacity: 1;
    right: 30px;
    top: 50px;
    rotate: 20deg;
  }
}
.first-section .jakub-rezler-header {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 70%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 160px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.first-section .lower-sqrt {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  top: 90px;
  left: -70px;
  z-index: -1;
}
.first-section .lower-sqrt .sqrt3 {
  position: relative;
  background-color: rgb(151, 224, 209);
  width: 450px;
  height: 320px;
  top: 0px;
  left: -90px;
  rotate: 35deg;
  opacity: 0;
  animation: sqrt3 0.8s 0.1s ease-out forwards;
}
.first-section .lower-sqrt .sqrt4 {
  position: relative;
  background-color: rgb(241, 204, 134);
  width: 380px;
  height: 290px;
  left: -160px;
  opacity: 0;
  animation: sqrt4 0.8s ease-out forwards;
}
@keyframes sqrt3 {
  from {
    opacity: 0;
    top: 0px;
    rotate: 35deg;
  }
  to {
    opacity: 1;
    top: 80px;
    rotate: 15deg;
  }
}
@keyframes sqrt4 {
  from {
    opacity: 0;
    top: -50px;
    rotate: 8deg;
  }
  to {
    opacity: 1;
    top: 65px;
    rotate: -8deg;
  }
}
.first-section .about-me-text-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.first-section .about-me-text-container .about-me-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  color: rgb(146, 219, 219);
  margin-right: 50px;
  width: 40%;
}
.first-section .about-me-text-container .about-me-text .white-text {
  color: white;
}

.fronend-developer-section {
  width: 100%;
  height: 600px;
  margin-top: 200px;
}
.fronend-developer-section .txt {
  position: relative;
  font-size: 120px;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: white;
}
.fronend-developer-section .front-span-container {
  display: block;
  position: relative;
  left: 325px;
  overflow: hidden;
  width: 700px;
}
.fronend-developer-section .front-span-container .front-span {
  left: -310px;
}
.fronend-developer-section .front-span-container .front-anim {
  animation: front-text-anim 1s 0.1s ease-out forwards;
}
@keyframes front-text-anim {
  from {
    left: -310px;
  }
  to {
    left: 0px;
  }
}
.fronend-developer-section .end-span-container {
  display: block;
  position: relative;
  left: 650px;
  overflow: hidden;
  width: 700px;
}
.fronend-developer-section .end-span-container .end-span {
  left: -190px;
}
.fronend-developer-section .end-span-container .end-anim {
  animation: end-text-anim 1s 0.1s ease-out forwards;
}
@keyframes end-text-anim {
  from {
    left: -190px;
  }
  to {
    left: 0px;
  }
}
.fronend-developer-section .developer-span-container {
  display: block;
  position: relative;
  left: 325px;
  overflow: hidden;
  width: 700px;
}
.fronend-developer-section .developer-span-container .developer-span {
  left: -565px;
}
.fronend-developer-section .developer-span-container .developer-anim {
  animation: developer-text-anim 1s 0.1s ease-out forwards;
}
@keyframes developer-text-anim {
  from {
    left: -565px;
  }
  to {
    left: 0px;
  }
}
.fronend-developer-section .with-react-span-container {
  display: block;
  position: relative;
  left: 650px;
  overflow: hidden;
  width: 700px;
}
.fronend-developer-section .with-react-span-container .with-react-span {
  color: aqua;
  font-size: 60px;
  text-transform: none;
  left: -20px;
}