.navbar {
  position: fixed;
  top: 0;
  width: 68.5%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.navbar .portfolio-header-text {
  font-family: "Poppins", sans-serif;
  color: white;
}
.navbar .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
}
.navbar .nav-links .nav-button {
  position: relative;
  right: 0;
  background: none;
  color: white;
  border: none;
  padding: 5;
  margin-left: 30px;
  font-size: 15px;
  cursor: pointer;
}
.navbar .nav-links .nav-button:hover {
  color: rgb(0, 224, 224);
}

@media (max-width: 992px) {
  .navbar {
    width: 100%;
  }
}