.projects-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 170px;
  color: white;
  text-align: center;
  background-image: url(../../img/pattern.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}