@import "./colors";
.contact-container {
	width: 700px;
	height: 540px;

	.contact-span {
		font-size: 45px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		color: white;
	}

	.text-me-button {
		margin-top: 50px;
		margin-left: 155px;
		background: white;
		color: rgb(0, 157, 219);
		font-size: 25px;
		padding: 20px;
		border: none;
		border-radius: 40px;
		transition: 0.3s ease-out;
		cursor: pointer;
	}

	.text-me-button:hover {
		box-shadow: 0px 0px 30px 10px;
	}
}
