.first-section {
	margin-top: 60px;
	width: 100%;
	height: 1080px;

	.upper-sqrt {
		width: 100%;
		display: flex;
		justify-content: flex-end;

		.sqrt1 {
			position: relative;
			background-color: rgb(160, 228, 255);
			width: 380px;
			height: 230px;
			top: 20px;
			rotate: -30deg;
			opacity: 0;
		}

		.sqrt2 {
			position: relative;
			background-color: rgb(207, 191, 162);
			width: 330px;
			height: 250px;
			right: 30px;
			top: 0px;
			rotate: 35deg;
			opacity: 0;
		}

		.sqrt1-anim {
			animation: sqrt1 1s 0.5s ease-out forwards;
		}

		.sqrt2-anim {
			animation: sqrt2 0.8s 0.6s ease-out forwards;
		}

		@keyframes sqrt1 {
			from {
				opacity: 0;
				top: 30px;
				rotate: -20deg;
			}

			to {
				opacity: 1;
				top: 80px;
				rotate: -10deg;
			}
		}

		@keyframes sqrt2 {
			from {
				opacity: 0;
				right: 30px;
				top: 0px;
				rotate: 35deg;
			}

			to {
				opacity: 1;
				right: 30px;
				top: 50px;
				rotate: 20deg;
			}
		}
	}
	.jakub-rezler-header {
		position: absolute;
		margin: 0;
		padding: 0;
		width: 70%;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 160px;
		text-align: center;
		left: 50%;
		transform: translateX(-50%);
		color: white;
	}

	.lower-sqrt {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		top: 90px;
		left: -70px;
		z-index: -1;

		.sqrt3 {
			position: relative;
			background-color: rgb(151, 224, 209);
			width: 450px;
			height: 320px;
			top: 0px;
			left: -90px;
			rotate: 35deg;
			opacity: 0;
		}

		.sqrt4 {
			position: relative;
			background-color: rgb(241, 204, 134);
			width: 380px;
			height: 290px;
			left: -160px;
			opacity: 0;
		}

		.sqrt3-anim {
			animation: sqrt3 0.8s 0.6s ease-out forwards;
		}

		.sqrt4-anim {
			animation: sqrt4 0.8s 0.5s ease-out forwards;
		}

		@keyframes sqrt3 {
			from {
				opacity: 0;
				top: 0px;
				rotate: 35deg;
			}

			to {
				opacity: 1;
				top: 80px;
				rotate: 15deg;
			}
		}

		@keyframes sqrt4 {
			from {
				opacity: 0;

				top: -50px;
				rotate: 8deg;
			}

			to {
				opacity: 1;

				top: 65px;
				rotate: -8deg;
			}
		}
	}

	.about-me-text-container {
		width: 100%;
		display: flex;
		justify-content: flex-end;

		.about-me-text {
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-size: 26px;
			color: rgb(0, 224, 224);
			margin-right: 50px;
			width: 40%;

			.white-text {
				color: white;
			}
		}
	}
}
