.projects-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.projects-header {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 170px;
		color: white;
		text-align: center;
		background-image: url(../../img/pattern.jpg);
		background-size: cover;
		background-attachment: fixed;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-transform: uppercase;
		margin-bottom: 400px;
	}

	.single-project-container {
		background-size: 100%;
		background-position: 0px;
		display: flex;
		flex-direction: column;
		transition: 0.4s ease-out;
		cursor: pointer;

		.text {
			position: relative;
			top: 400px;
			left: -150px;
			color: white;
			font-family: "Saira", sans-serif;
		}

		.stay-alive-text {
			left: -280px;
		}

		.upper-text {
			font-size: 38px;
		}
		.lower-text {
			font-size: 28px;
		}
	}

	.single-project-container:hover {
		background-size: 110%;
		background-position-x: -40px;
	}

	.project-divider {
		height: 400px;
	}
	.project-divider2 {
		height: 700px;
	}

	.stay-alive-project-container {
		background-image: url(../../img//stay-alive-img.jpg);
		width: 700px;
		height: 550px;
	}

	.crypto-project-container {
		background-image: url(../../img/crypto.jpg);
		width: 900px;
		height: 550px;
	}

	.jrCompose-project-container {
		background-image: url(../../img/jrcompose.jpg);
		width: 850px;
		height: 600px;
	}
	.dagmar-project-container {
		background-image: url(../../img/dagmar.jpg);
		width: 950px;
		height: 480px;
		.dagmar-text {
			position: relative;
			top: 250px;
			left: -200px;
			color: black;
			font-family: "Saira", sans-serif;
		}
	}

	.dagmar-project-container:hover {
		background-size: 105%;
		background-position-x: -25px;
		// background-position-y: 0px;
	}
}

@media (max-width: 992px) {
	.projects-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.projects-header {
			font-size: 57px;
		}

		.single-project-container {
			.text {
				top: 350px;
				left: 0px;
				color: white;
				font-weight: bold;
				font-family: "Saira", sans-serif;
			}

			.stay-alive-text {
				left: 0px;
			}

			.upper-text {
				font-size: 31px;
			}
			.lower-text {
				font-size: 21px;
			}
		}

		.stay-alive-project-container {
			width: 99%;
			height: 350px;
			background-repeat: no-repeat;
		}

		.crypto-project-container {
			width: 99%;
			height: 300px;
			background-repeat: no-repeat;
		}

		.jrCompose-project-container {
			width: 99%;
			height: 350px;
			background-repeat: no-repeat;
		}
		.dagmar-project-container {
			width: 99%;
			height: 240px;
			background-repeat: no-repeat;
			.dagmar-text {
				top: 250px;
				left: 0px;
				font-weight: bold;
				color: white;
				font-family: "Saira", sans-serif;
			}
		}
	}
}
