@import "./colors";

.skills-container {
	width: 100%;
	height: 800px;
	font-family: "Poppins", sans-serif;

	.skills-text-container {
		width: 700px;
		overflow: hidden;
		.skills-text {
			position: relative;
			left: -600px;
			font-size: 40px;
			color: $cyan;
			opacity: 0;
		}
		.skills-text-anim {
			animation: skills-text-anim 1s ease-out forwards;
		}

		@keyframes skills-text-anim {
			from {
				opacity: 0;
				left: -300px;
			}

			to {
				opacity: 1;
				left: 3px;
			}
		}
	}

	.technologies-container {
		width: 100%;
		height: 200px;
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.skill {
			// min-width: 300px;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;

			.img {
				// top: 160px;
			}
		}
		.html-css-js-img {
			margin-top: 20px;
			width: 100px;
		}
		.react-img {
			margin-top: 20px;
			width: 140px;
		}

		.node-express-mongo-img {
			width: 240px;
		}

		.gimp-figma-img {
			width: 190px;
		}

		.ts-img {
			width: 110px;
		}

		.html-text {
			top: 370px;
			left: 40px;
		}

		.css-text {
			top: 240px;
			left: 100px;
		}

		.js-text {
			top: 50px;
			left: -350px;
		}

		.react-text {
			left: -240px;
			top: 80px;
		}

		.node-text {
			top: 510px;
			left: -480px;
		}

		.express-text {
			top: 20px;
			left: 640px;
		}

		.mongodb-text {
			top: -190px;
			left: 420px;
		}

		.gimp-text {
			top: 180px;
			left: 420px;
		}
		.figma-text {
			left: 40px;
			top: -50px;
		}

		.ts-text {
			left: -900px;
			top: 260px;
		}
	}
}

.skills-lower-text-container {
	width: 100%;

	.about-me-skills-text {
		position: relative;
		left: 710px;
		width: 500px;
		font-size: 28px;
		font-family: "Poppins", sans-serif;
		color: $cyan;
	}
}

@media (max-width: 992px) {
	.skills-container {
		.skills-text-container {
			width: 300px;

			.skills-text {
				font-size: 32px;
			}
		}
		.icons-container {
			display: flex;
			justify-content: center;
			align-items: center;
			.technologies-container {
				flex-direction: column;
				height: 700px;
				width: 47%;
				margin-top: 50px;

				.skill {
					.img {
						top: 160px;
					}
				}
				.html-css-js-img {
					margin-top: 20px;
					width: 60px;
				}
				.react-img {
					margin-top: 20px;
					width: 90px;
				}

				.node-express-mongo-img {
					width: 150px;
				}

				.gimp-figma-img {
					width: 130px;
				}

				.ts-img {
					width: 60px;
				}

				.html-text {
					top: 0;
					left: 100px;
				}

				.css-text {
					top: -70px;
					left: 0;
				}

				.js-text {
					top: -150px;
					left: 85px;
				}

				.react-text {
					left: 40px;
					top: -40px;
				}

				.node-text {
					top: -240px;
					left: 10px;
				}

				.express-text {
					top: -200px;
					left: -10px;
				}

				.mongodb-text {
					top: -80px;
					left: 10px;
				}

				.gimp-text {
					top: -120px;
					left: -10px;
				}
				.figma-text {
					left: 20px;
					top: -170px;
				}

				.ts-text {
					left: 90px;
					top: -230px;
				}
			}
		}
	}
	.skills-lower-text-container {
		.about-me-skills-text {
			left: 0;
			margin-left: 10px;
			width: 300px;
			margin: 0px 20px;
			font-size: 28px;
			font-family: "Poppins", sans-serif;
			color: $cyan;
		}
	}
}
